div.tab {
    overflow: hidden;
    border: 1px solid #f4f4f4;
    background-color: #f9f9f9;
text-align: center;
}
div.tab button {
    background-color: #f9f9f9;
    border: 0px;
    outline: none;
    cursor: pointer;
    padding: 24px 36px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: #dbdbdb;
}
div.tab button.active {
    background-color: #eaeaea;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
text-align: center;
}
.title-center {
font-size: 28px;
font-weight: 100;
text-align: center;
padding: 1.5%;
color: #000;
}
.paragraph {
font-size: 22px;
font-weight: 100;
text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	line-height: 30px;
	padding: 4%;
}
.refer {
text-align: left;
font-size: 30px;
color: #2f3089;
	padding-top: 5%;
}
.learnmore {
text-align: left;
font-size: 20px;
	padding-top: 1%;
	padding-bottom: 5%;
	text-decoration: underline;
}
.secondary {
text-align: left;
font-size: 17px;
	line-height: 22px;
padding: 2% 8% 5% 0%;
}
h2.contact {
color: #000;
	font-weight: bold;
padding: 1%;
text-align: center;
	font-size: 19px;
}
.contact2 {
font-size: 14px;
text-align: center;
color: #000;
}
.contactimage {
margin-left: auto;
	margin-right: auto;
	padding: 1%;
	width: 20%;
}
hr.contact {
border-style: solid;
border-width: 2px; 
color: #f9f9f9;
	margin: 5% 0% 0% 0%;
	width: 100%;
}
.education {
text-align: left;
font-size: 28px;
color: #2f3089;
	padding: 12% 0% 5% 0%;
}
table {width: 100%;
border: 0px;
}
td {width: 50%;
padding: 10% 10%;
}
.subtitle {
font-size: 34px;
font-weight: 100;
text-align: center;
padding: 15px;
color: grey;
}
hr {
border-style: solid;
border-width: 2px; 
color: #f9f7f4;
}
.btn{
	border : solid 0px #2f3089;
	font-size : 24px;
	color : #ffffff;
	padding : 18px 21px;
	background-color : #2f3089;
}
.btn:hover {
  border : solid 0px #2F4EA0;
	font-size : 24px;
	color : #ffffff;
	padding : 18px 21px;
	background-color : #2F4EA0;
cursor:pointer;
}
#f, #r, #c, #b {
 display: inline;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	margin: 2%;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #000;
    text-align: center;
	font-size: 12px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
	}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
	font-size: 12px;
	margin: 2%;
}
div.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.5s;
}
div.accordion.active, div.accordion:hover {
    background-color: #f9f9f9; 
}
.panel {
    padding: 18px;
    display: none;
    background-color: white;
	text-align: left;
	line-spacing: 35px;
	font-size: 14px;
}
.formtext {
	font-size: 15px;
	padding: 0px 0px 0px 0px;
	color: #666;
	vertical-align: sub;
	text-align: center;
}
input[type=number] {
	padding: 12px 20px;
	font-size: 18px;
	display: inline-block;
	
}
input[type=text] {
	display: none;
	
}
.input-field {
		border: 1px solid #d1d1d1;
}
.result {
	font-size: 64px;
	color: #4374e0;
	text-align: center;
}
.cbtn{
	border : solid 0px #2f3089;
	font-size : 20px;
	color : #ffffff;
	padding : 13px 18px;
	background-color : #2f3089;
	vertical-align: sub;
}
.cbtn:hover {
  border : solid 0px #2F4EA0;
	font-size : 20px;
	color : #ffffff;
	padding : 13px 18px;
	background-color : #2F4EA0;
cursor:pointer;
	vertical-align: sub;
}